#pop {
    position: relative;
    display: inline-block; /* Ensures it wraps around the content */
}

#see {
  
 
   
}

#details {
    width: 340px;
    height: 235px;
    position: absolute;
    display: none;
    border: 2px solid black;
    top: -165px; /* Adjusted so it appears below #see */
    left: 0;
    padding: 10px;
    z-index: 10; /* Prevents overlapping issues */

}

#pop:hover #details {
    display: block;
}



#pai {
    position: relative;
    display: inline-block; /* Ensures it wraps around the content */
 
   

}

#sai {
    color:white;
    cursor: pointer;


    

}

#dai {
    width: 360px;
    height: 375px;
    position: absolute;
    display: none;
    border: 2px solid black;
    top: -375px; /* Adjusted so it appears below #see */
 margin-left: 280px;
    transform: translateX(-50%);
    padding: 10px;
    z-index: 10; /* Prevents overlapping issues */
    color: white;
    cursor: pointer;
}

#pai:hover #dai {
    display: block;
}
